.App {
  text-align: center;
  font-size: 35px;
  padding-top: 10%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.Login-Input {
  font-size: 20px;
  margin: 5px;
}

.Login-Form {
  display: inline;
}

.App-title {
  font-size: 1.5em;
  padding-bottom: 5px;
}

.App-intro {
  font-size: large;
}

.Home_Page {
  text-align: center;
  font-size: 35px;
  padding-top: 10%;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
